.movie-section{
    display: flex;
    /* padding: 40px 0; */
    color: white;
}

.movie-rating{
     padding-left: 30px;
     margin-top: 20px;
     color:#79b8f3; 
     display: flex;
}

.movie-rating span{
    margin-right: 20px;
}

.movie-title{
    font-size: 40px;
    color: #ffff;
}

.movie-plot{
     margin-top: 20px;
     line-height: 1.8rem
}

.movie-info > div span:first-child{
     padding: 10px 0;
     color: #79b8f3;
     font-weight: 600;
     width: 100px;
     display: inline-block;
}

.movie-info > div span{
    color: #79b8f3;
}

.movie-section-wrapper{
    display: flex;
    justify-content: space-between;

}

.rating-icon{
    color: yellow;
}

.error-loading-container{
    margin: 3rem 0;
}

.section-left{
    margin: 2rem 0;
       
}
.section-right{
    margin: 2rem 0;
    padding-left: 40px;
}

@media screen and (max-width:600px){
    .movie-section-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-left{
        margin: 2rem 0;
       
           
    }
    .section-right{
        padding-left: 0px;
      

    }

  
}